[data-rehype-pretty-code-fragment] code {
  display: grid;
  min-width: 100%;
  overflow-wrap: break-word;
  border-radius: 0;
  border-width: 0;
  background-color: transparent;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #000;
  counter-reset: line;
  box-decoration-break: clone;
}
[data-rehype-pretty-code-fragment] .line {
  padding: 0.25rem 1rem;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}
[data-rehype-pretty-code-fragment] .line--highlighted {
  background-color: rgba(212, 212, 216, 0.1);
}
[data-rehype-pretty-code-fragment] .line-highlighted span {
  position: relative;
}
[data-rehype-pretty-code-fragment] .word--highlighted {
  border-radius: 0.375rem;
  background-color: rgba(212, 212, 216, 0.1);
  padding: 0.25rem;
}
[data-rehype-pretty-code-title] {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}
[data-rehype-pretty-code-title] + pre {
  margin-top: 0;
}
